body {
    margin: 0;
}
.Nav-menu-container {
    background-color: black;
    padding: 20px;
}

nav {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   align-items: center;
   align-content: center;
}

nav a {
    color:brown;
}

.header {
    display: grid;
    place-items: center;
    min-height: 500px; 
    background-image: url("/assets/8345185_orig.jpeg");
    background-size: cover;
    
}

.header_content-wrapper {

    justify-items: center;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.header_gif {
    max-height: 400px;
}