body {
    margin: 0;
}
.Nav-menu-container {
    background-color: aquamarine;
    padding: 20px;
}

nav {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   align-items: center;
   align-content: center;
}

nav a {
    color:brown;
}

.header {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    justify-items: center;
    background-image: url("/assets/8345185_orig.jpeg");
    background-size: cover;
    height: 500px;
}

.header_content-wrapper {
    
    justify-items: center;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.header_gif {
    max-height: 400px;
}